#root {
  margin: 0 auto;
  text-align: center;

}

.card{

  background-image:  linear-gradient(0deg, rgba(17,37,214,1) 0%, rgba(53,69,219,1) 47%, rgba(119,85,255,1) 96%);

}

.custom-button {
  background-color: #303B59;
  color: #ffffff;
  align-items: center;
  font-weight: 500;
  align-content: center;
  height: 1000;
  
  
  &:hover {
    background-color: #7755FF;
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    height: 1000;
  }
}

.box1 {
  background-image:   linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,0.10688025210084029) 0%);
 
}
.box2{
  background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,158,0,0.10688025210084029) 0%);
}
.box3 {
  background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,187,143,0.14609593837535018) 0%);
 
}
.box4 {
  background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,37,214,0.20211834733893552) 0%);
 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
